vendor/
node_modules/

DB_*.sql
.rsync_exclude
syncr.sh

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/nbproject/private//node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
NOTES.TXT
